@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container my-4">
        <h2 class="text-center">Court Timeslot Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">

                <thead class="thead-dark">
                    <tr>
                        <th>Time</th>
                        @foreach (var court in Model.Courts)
                        {
                            <th>Court @court.Id</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var courtSlot in Model.CourtSlots)
                    {
                        <tr>
                            <td>@courtSlot.FromTime - @courtSlot.ToTime</td>
                            @foreach (var court in Model.Courts)
                            {
                                <td>Available</td>
                            }
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
